.popup__input_text{
    width: 440px;
    height: 246px;
    background: rgba(240, 139, 152, 0.05);
    border: 2px solid rgba(240, 139, 152, 0.3);
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 16px;
    line-height: 24px;
    font-family:"MuseCyrl";
    outline:none;
    padding: 13px 20px;
    resize: none;
}
@media screen and (max-width:961px){
    .popup__input_text{
        width: 100%;
    }
}