.main__title_text{
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    margin:0 0 15px 0;
    color: #FFFFFF;
    font-family:"MuseCyrl700";
}
@media screen and (max-width: 430px){
    .main__title_text{
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 12px;
    }
}