.popup__form{
grid-column: 1/3;
overflow-y: scroll;
width: fit-content;
padding: 15px 20px 0 30px;
overflow-x: hidden;
}
.popup__form::-webkit-scrollbar {
    width: 4px;
    height: 100px;
    margin-left: -10px;
}
    
.popup__form::-webkit-scrollbar-track {
    background: #FAD8DD;
    border-radius: 24px;
    margin:20px 0 20px 0;
}
.popup__form::-webkit-scrollbar-track-piece {
    height: 520px;
}
    
.popup__form::-webkit-scrollbar-thumb {
    background: #F08B98;
    border-radius: 24px;
}
@media screen and (max-width: 961px){
    .popup__form{
        width: 92%;
        padding: 15px 20px 0 30px;
    }
}
@media screen and (max-width: 633px){
    .popup__form{
        width: 92%;
        padding: 15px 5px 0 30px;
    }
}
@media screen and (max-width: 550px){
    .popup__form{
        width: 90%;
    }
}
@media screen and (max-width: 390px){
    .popup__form{
        width: 89%;
        padding-left:10px;
    }
}