.header__menu_down{
    background-color: white;
    display: none;
    border-top:1px solid #F08B98;
    border-bottom:1px solid #F08B98;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    position: absolute;
    top: 70px;
    left: 1px;
    width: 100%;
}