.main__product_goods-item{
    width: 160px;
    height: 160px;
    text-align: center;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__product_goods-item:hover{
    background: #FFFFFF;
    box-shadow: 0px 0px 15px #EAEAEA;
    border-radius: 30px;
}
@media screen and (max-width: 354px){
    .main__product_goods-item{
        width: 130px;
    }
}