.popup__menu_grop-item{
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 15px;
    padding: 20px 0;
}
.popup__menu_grop-item:nth-of-type(1){
    border-top: 2px solid #F08B98;
}
.popup__menu_grop-item:nth-of-type(3){
    border-bottom: 2px solid #F08B98;
}