.header__menu_item-text{
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0 5px 0 3px;
    font-family:"MuseCyrl700";
}
.header__menu_item-text:hover{
    cursor: pointer;
}