.main__title{
    display: flex;
    flex-direction: column;
    margin-top: 285px;
    align-items: center;
    position: fixed;
    z-index: 2;
}
@media screen and (max-width: 560px){
    .main__title{
        margin-top: 185px;
    }
}
@media screen and (max-width: 430px){
    .main__title{
        margin-top: 270px;
    }
}