.main__title{
    display: flex;
    flex-direction: column;
    margin-top: 285px;
    align-items: center;
    position: fixed;
    z-index: 2;
}
@media screen and (max-width: 961px){
    .main__title{
        margin-top: 185px;
    }
}
@media screen and (max-width: 542px){
    .main__title{
        margin-top: 126px;
        margin-left: 7px;
    }
}

@media screen and (max-width: 430px){
    .main__title{
        margin-top: 226px;
        margin-left: 7px;
    }
}
@media screen and (max-height: 900px){
    .main__title{
        margin-top: 200px;
    }
}
@media screen and (max-height: 790px){
    .main__title{
        margin-top: 160px;
    }
}
