.popup__container{
    max-width: 700px;
    background-color: #64c0f5;
    display: flex;
    border-radius: 15px;
    position: relative;
    flex-direction: column;
    border: blue 3px solid;
    padding: 10px;
}